<nav>
	<ol>
		<li>
			<a href="chapter1.html" class="{% if page.url == '/chapter1.html'%}active{% endif %}">Chapter 1
			<span>Introduction</span> 
			</a>
		</li>
		<li>
			<a href="chapter2.html" class="{% if page.url == '/chapter2.html'%}active{% endif %}">Chapter 2
			<span>You've&nbsp;got&nbsp;to&nbsp;be&nbsp;kidding&nbsp;me&nbsp;</span> 
			</a>
		</li>
		<li>
			<a href="chapter3.html" class="{% if page.url == '/chapter3.html'%}active{% endif %}">Chapter 3
			<span>A&nbsp;little&nbsp;bit&nbsp;about&nbsp;Partial&nbsp;Least&nbsp;Squares</span> 
			</a>
		</li>
		<li>
			<a href="chapter4.html" class="{% if page.url == '/chapter4.html'%}active{% endif %}">Chapter 4
			<span>Commented&nbsp;Timeline</span> 
			</a>
		</li>
		<li>
			<a href="chapter5.html" class="{% if page.url == '/chapter5.html'%}active{% endif %}">Chapter 5
			<span>The&nbsp;Econometrician</span> 
			</a>
		</li>
		<li>
			<a href="chapter6.html" class="{% if page.url == '/chapter6.html'%}active{% endif %}">Chapter 6
			<span>The&nbsp;Philosopher&nbsp;of&nbsp;Science</span> 
			</a>
		</li>
		<li>
			<a href="chapter7.html" class="{% if page.url == '/chapter7.html'%}active{% endif %}">Chapter 7
			<span>The&nbsp;Soft&nbsp;Modeler</span> 
			</a>
		</li>
		<li>
			<a href="chapter8.html" class="{% if page.url == '/chapter8.html'%}active{% endif %}">Chapter 8
			<span>The&nbsp;Chemometrician</span> 
			</a>
		</li>
		<li>
			<a href="chapter9.html" class="{% if page.url == '/chapter9.html'%}active{% endif %}">Chapter 9
			<span>The&nbsp;Renaissance&nbsp;of&nbsp;Herman's&nbsp;PLS</span> 
			</a>
		</li>
		<li>
			<a href="chapter10.html" class="{% if page.url == '/chapter10.html'%}active{% endif %}">Chapter 10
			<span>Critical&nbsp;Review</span> 
			</a>
		</li>
		<li>
			<a href="chapter11.html" class="{% if page.url == '/chapter11.html'%}active{% endif %}">Chapter 11
			<span>Conclusions&nbsp;and&nbsp;Final&nbsp;Remarks</span> 
			</a>
		</li>
		<li>
			<a href="references.html" class="{% if page.url contains 'references'%}active{% endif %}">References
			<span>References</span>
			</a>
		</li>
	</ol>
</nav>
