
body {
	font-family: "Times New Roman", Georgia, serif;
	line-height: 160%;
	font-size: 21px;
	color: #404030;
	background-color: #f8f8f6;
	margin: 0;
	padding: 0;
	text-align: justify;
}

article {
	max-width: 30em;
	margin: 0 auto;
	padding: 0 3em;
	border: 1px solid rgba(0,0,0,0.07);
	padding-bottom: 2em;
	background-color: #fff;
}

a { color: #404030; }
a:hover { color: #f06060; }

article a {
	text-decoration: none;
	border-bottom: 2px solid #FACFCF;
}

h1 {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.5em;
	letter-spacing: 1px;
	font-weight: normal;
	/*text-transform: uppercase;*/
	padding-top: 2em;
	margin-top: 0;
	margin-bottom: 1em;
	color: #f06060;
	text-align: center;
}

h1 span { color: #404030; }

h2 {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.4em;
	font-weight: normal;
	margin-top: 2em;
	margin-bottom: 0;
}

/*
h3 {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.2em;
	font-weight: normal;
	margin-top: 2em;
	margin-bottom: 0;
}
*/

h3, h4 {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1em;
	margin-top: 2em;
	margin-bottom: -0.5em;
	color: rgba(0,0,0,0.8);	
}

p {
	margin: 0;
	padding-top: 1em; 
	line-height: 125%;
}

article.ack { padding-bottom: 4em; }

blockquote { 
	padding-left: 1em; 
	border-left: 5px solid #efefef;
}

blockquote p { 
	padding-top: 0; 
	margin-bottom: -0.6em;
	color: rgba(0,0,0,0.6);
    font-style: italic;
}

ol { margin-top: 0.5em; margin-bottom: 0; } 

article img { width: 100%; }

p.quote { margin-bottom: 2em; font-style: italic; text-indent: -0.4em; }

cite, .osf, div.sign {
	font-family: ff-quadraat-sc-web, Georgia, serif;
	font-size: 1em;
	letter-spacing: 2px;
	font-style: normal;
	text-transform: lowercase;
}

div.sign {
	border: 2px solid rgba(0,0,0,0.2);
	max-width: 70%;
	margin: 2em auto;
	text-align: center;
	padding: 1em 1.5em;
	font-size: 1.4em;
}

.osf { letter-spacing: 0; }

ul { list-style: circle; }


/* -----------------------------------------*/
/*  Header									*/
/* -----------------------------------------*/

header {
	font-family: "Times New Roman", Georgia, serif;
	font-size: 1em;
	color: rgba(0,0,0,0.4);
	font-weight: normal;
	text-align: center;
	background-color: #fff;
	max-width: 30em;
	padding: 0.8em 3em;
	margin: 0 auto;
	border-left: 1px solid rgba(0,0,0,0.07);
	border-right: 1px solid rgba(0,0,0,0.07);
}

header h1 { 
	font-family: "Times New Roman", Georgia, serif;
	font-size: 1.35em;
	letter-spacing: 1.8px;
	display: inline; 
	margin: 0; 
	padding-top: 1em; 
	color: rgba(0,0,0,0.4);
}

header h1 a { color: rgba(0,0,0,0.4); text-decoration: none; }
header h1 a:hover { color: #f06060; }

header small { 
	color: rgba(0,0,0,0.4); 
	font-size: 0.8em; 
	letter-spacing: 1px;
}
header small a { color: rgba(0,0,0,0.4); text-decoration: underline; }
header small a:hover { color: #f06060; }

/* -----------------------------------------*/
/*  Navigation bar							*/
/* -----------------------------------------*/

nav {
	border: 0;
	padding: 0;
	float: left;
	font-size: 1em;
	text-align: left;
	background: none;
	position: fixed;
	top: 21%;
	left: 25%;
	margin-top: -1.8em;
	margin-left: -10em;
/*	margin-top: 0em;
	margin-left: 4em; */
}

nav a { text-decoration: none; color: rgba(0,0,0,0.1); }

nav a span {
    z-index:10;display:none;
    font-size: 16px;
    line-height: 0.8em;
    padding: 0.5em;
    margin-top:0;
    margin-left:1.25em;
    
}

nav a:hover span{
    display:inline; 
    position:absolute; 
    color:#fff;
    background:rgba(75,75,60,0.8); 
    left: 1.5em; 
    max-height: 30px; 
    text-align: left;
}

nav ol { 
	list-style: none;
	padding: 0;
	margin: 0;
	padding: 0;
}

nav ol li a.active {
/*	display: block;
	margin-left: -1px;
	margin-top: -3px;
	font-size: 1em; */
	color: rgba(0,0,0,0.3);
}

nav ol li { overflow: hidden; }

nav ol li.sep { margin-bottom: 0.5em; }


/* -----------------------------------------*/
/*  Footer									*/
/* -----------------------------------------*/
footer { 
	text-align: center; 
	font-size: 0.8em; 
	color: rgba(0,0,0,0.4); 
	padding: 0em 0 1em 0; 
}

footer a { color: rgba(0,0,0,0.4); }
 

/* -----------------------------------------*/
/*  CSS3 extras								*/
/* -----------------------------------------*/

a.continue {
	width: 100%;
	border-top: 1px solid rgba(0,0,0,0.1);
	display: block;
	padding: 1em 3em 0em 3em;
	text-align: center;
	margin-top: 1em;
	margin-bottom: 0;
	margin-left: -3em;
	color: #f06060;
	text-decoration: none;
	border-bottom: 0px;
}

a.continue:hover { text-decoration: underline; }

.heart { font-size: 75%; }
.fin { font-size: 80%; color: rgba(0,0,0,0.25); }

q:before { content: none; }
q:after { content: none; }
q { display: block; text-indent: -0.4em; font-style: italic;}
cite { display: block; margin-bottom: 1.6em; }


article.endnotes p {
	text-indent: 0;
	margin: 1.6em 0;
}

article.toc ul {
	list-style: none;
}

article.toc ul li {
	color: rgba(0,0,0,0.4);
}



@media screen and (max-width:325px) {
	nav ol li { font-size: 0.5em !important; padding: 0 5px 0 0 !important; margin: 0;}
	nav ol li a.active { line-height: 150%; }
}

@media screen and (max-width:500px) {
	nav ol li { font-size: 2em !important; padding: 0 5px 0 0 !important; margin: 0; }
	header a { display: block; }
	header span { display: none; }
	h1 { margin-top: -2em; }
	img.illo { padding-top: 1.5em; }
	body { font-size: 18px; }
	blockquote { padding-left: 0; }
}

@media screen and (max-width:900px) { 
	nav {
		float: none;
		position: inherit;
		/*left: inherit;*/
		top: inherit;
/*		margin-top: 0;
		margin-left: 0;  */
		margin: 0 auto;
		border-top: 1px solid rgba(0,0,0,0.07);
		border-left: 1px solid rgba(0,0,0,0.07);
		border-right: 1px solid rgba(0,0,0,0.07);
		background-color: #fff;
		/*padding-top: 0;*/
		padding: 0 3em;
		width: inherit;
		font-size: 0.5em;
		max-width: 62em;
	}
		
	nav ol li {
		display: inline-block;
		font-size: 1.75em;
		padding-right: 0.5em;
		line-height: 105%;
	}
	
	nav ol li a { display: inline-block; margin-top: 10px; }
	nav ol li a.active { position: relative; top:-2px; }
	header { padding-bottom: 0; }
	li.sep { margin-right: 0.4em; }
	
	article, header, nav { padding-left: 1em; padding-right: 1em; }
	a.continue { padding-left: 1em; padding-right: 1em; margin-left: -1em;}
	
	
}

@media screen and (min-width:900px) {
	nav ol li {
		font-size: 0.85em;
	}
}

@media screen and (min-width:1100px) { 	body { font-size: 24px; }  }
@media screen and (min-width:1300px) { 	body { font-size: 25px; }  }
@media screen and (min-width:1800px) { 	body { font-size: 26px; text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; }  }
@media screen and (min-width:2100px) { 	body { font-size: 32px; text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; }  } 
